:root{
   --primary-color: #505033;
   --secondary-color: #264969;
   --accent1-color: #cfcfb4;
   --accent2-color: #b4cde4;
    --heading-font: Georgia, serif;
   --text-font: 'Roboto', sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

body{
    font-family: var(--text-font);
    color: var(--accent1-color);
}

header, main, footer{
    width: 840px;
    margin: 0 auto;
}

header img{
    margin-left: 20px;
}

h1, h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.history_section{
    display: flex;
    align-items: center;
    color: black;
}

section div{
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
}

img{
    width: 150px;
    height: 150px;
}
nav, p, section, article{
    margin: 16px;
    padding: 8px;
}

section h2{
    text-align: center;
    padding-bottom: 20px;
}

nav{
    display: flex;
    gap:20px;
}

nav a{
    border: 1px solid black;
    padding: 4px;
    background-color: #fff;
    color: black;
    border-radius: 10%;
    text-decoration: none;
}

.socialmedia a {
    text-decoration: none;
} 

.socialmedia img{
    width: 20px;
    height: 20px;
}
.hero{
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img{
  width: 125px;
  float: right;
  border: 2px solid black;
   box-shadow: 2px 2px 4px gray;
}

article{
    position: absolute;
    background-color: rgb(233,196,106);
    color: black;
    bottom: 10px;
}

footer {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 1rem;
  color: black;
}

.contact_texts{
    margin: 20px 18px;
}

.hero1{
     width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.contact_items{
    display: grid;
    grid-template-columns: auto;
    gap: 12px;
}

.address1 {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
  width: 300px;
  height: auto;          
  border: 1px dashed gray;
  padding: 8px;
  gap: 10px;
  flex-wrap: wrap;         
}

fieldset{
    margin: 10px;
    padding: 10px;
}

.email-contact {
  display: flex;
  flex-direction: column;  
  white-space: normal;
  word-break: break-word;
  flex: 1;                
}

.email-contact a {
  color: var(--secondary-color);
  text-decoration: none;
}

.contact_img{
    width: 40px;
    height: 40px;
}

.contact-info{
    display: flex;
}

iframe{
    width: 450px;
    height: 300px;
    margin-left:10px;
    margin-top: 10px;
}

.employee-image{
    margin: 20px 4px 20px 2px;
}

.contact-form{
    background-color: gainsboro;
    color: black;
    padding: 10px;
    width: 860px;
    margin-left: 20px;
}

.contact-input{
    width: 800px;
    height: 30px;
    margin: 10px 10px;
    padding: 10px;
}

.submit-btn{
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    margin: 10px 20px
}

.input-text{
    font-weight: bold;
    margin-left: 10px;
}

section h4{
    color: black;
}

textarea {
    height: 100px;
    resize: vertical;
    width: 800px;
    margin: 10px 10px;
    padding: 10px;
}